<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.nxp.mcuxpresso.core.debug.support.segger.launchConfigurationType">
<stringAttribute key="InstructionTraceInfo" value="eJzFlMFO4zAQhu8r7TtYvrNNmjYEiYAgbaWVmm7VGPaITDotWRK7sh2Wffu1G6dqGoM4IOGTbf3zjf3P2JfXr1WJXkDIgrMY+z88jIDlfF2wbYzvyOwswtdX379dgqpAPU5A0aKUZoNQsQU1A6pqARKl9A8X9y1HU9KCdTeaAA1dZHfL5a8VmU6wAU1JeksloJv1WoNkjM98jJZ6CkyZwIERTX6TE9E4CKMwjPzwSKxEDY3+Zw9q9OfehT906qfktq8PPW98fszf0FLagLQX4L8h1K79VSfaYRiNAj8IPXcMETSHWc0YlN0TjS/CUeQ5b6CTJFxAVmyf9KTacaYFyOR1epbIOc+fY7yoy7KZY6QRK9hmSmO08V82sC34pu0tc4nO6a0g19ekgurzSrSoq0cQMR41bmT1bseFgjVKql1KVf5kvULJv7yEhNdMGfl+zwQYy2x3owlV1KzbmqB5wZ79wyqlrymV2rtAl7zNa/vUjWkyW0qzcEL89yAfP8vwczBBgxkcvLRtthR8U5T6g7AuSluOh4Ss5uieljUc/Bi8pR8cFbgV9vt3/5RV9aHGto/b0dinb6qHAwevfWoO3t7cjMxO7/p+ikbS+TX3W92f9T+2IbE6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
<stringAttribute key="com.crt.ctrlcenter.OFSemuDetails" value="JLink260114942"/>
<stringAttribute key="com.crt.ctrlcenter.serialNumber" value="USB 260114942"/>
<intAttribute key="com.nxp.mcuxpresso.core.debug.support.segger.launches.JLinkLaunchConfigHandler.version" value="1"/>
<booleanAttribute key="com.nxp.mcuxpresso.flash.clear.console" value="true"/>
<booleanAttribute key="com.nxp.mcuxpresso.flash.confirm" value="false"/>
<stringAttribute key="com.nxp.mcuxpresso.ide.probe.manufacturer" value="SEGGER"/>
<stringAttribute key="com.nxp.mcuxpresso.ide.probe.name" value="J-Link EDU"/>
<stringAttribute key="com.nxp.mcuxpresso.ide.probe.type" value="USB"/>
<stringAttribute key="com.nxp.mcuxpresso.jlink.flash.base.address" value="0x60000000"/>
<stringAttribute key="com.nxp.mcuxpresso.jlink.flash.executable" value="hex"/>
<booleanAttribute key="com.nxp.mcuxpresso.jlink.flash.halt.target" value="true"/>
<booleanAttribute key="com.nxp.mcuxpresso.jlink.flash.reset.target" value="true"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.auto.startup" value="auto"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.device" value="MIMXRT1062xxx6A"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.endian" value="little"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.halt.target" value="-halt"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.if" value="SWD"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.init.register" value="-ir"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.jlinkscriptfile" value="D:\Workspace\IMXRT1060-EVK\IMXRT1060-EVK_BOOT\evkmimxrt1060_init.jlinkscript"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.options" value=""/>
<intAttribute key="com.nxp.mcuxpresso.segger.port" value="2331"/>
<booleanAttribute key="com.nxp.mcuxpresso.segger.powertarget 50" value="false"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.reset" value="true;"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.rtos" value="true;GDBServer/RTOSPlugin_FreeRTOS"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.select" value="USB=260114942"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.silent" value="-nosilent"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.singlerun" value="-singlerun"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.speed" value="auto"/>
<intAttribute key="com.nxp.mcuxpresso.segger.swoport" value="2332"/>
<intAttribute key="com.nxp.mcuxpresso.segger.telnetport" value="2333"/>
<stringAttribute key="com.nxp.mcuxpresso.segger.verify" value="-vd"/>
<stringAttribute key="disconnect" value="Run"/>
<stringAttribute key="launch.config.handler" value="com.nxp.mcuxpresso.core.debug.support.segger.launches.JLinkLaunchConfigHandler"/>
<booleanAttribute key="mainBreakIsHardware" value="true"/>
<intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.delay" value="3"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doHalt" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.initCommands" value="monitor reset"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="SEGGER J-Link probes"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
<intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="2331"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.runCommands" value=""/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="arm-none-eabi-gdb"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.EXTERNAL_CONSOLE" value="false"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value=""/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="false"/>
<booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="remote"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\IMXRT1060-EVK_BOOT.axf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="IMXRT1060-EVK_BOOT"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.crt.advproject.config.exe.debug.591182084"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IMXRT1060-EVK_BOOT"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers">
<mapEntry key="[debug]" value="com.nxp.mcuxpresso.core.debug.support.segger.dsfLaunchDelegate"/>
</mapAttribute>
<stringAttribute key="process_factory_id" value="com.crt.dsfdebug.dsf.override.CRTProcessFactory"/>
<booleanAttribute key="semihost" value="true"/>
<booleanAttribute key="start.server" value="true"/>
</launchConfiguration>
