.metadata
FreeRTOS_TAD_logs
CMSIS_DSP/Debug
IMXRT1060-EVK_BOOT/Debug
IMXRT1060-EVK_APL/Debug
CMSIS_DSP/.vscode/ipch
IMXRT1060-EVK_BOOT/.vscode/ipch
IMXRT1060-EVK_APL/.vscode/ipch
IMXRT1060-EVK.rtf
.mcuxpressoide_packages_support/
IMXRT1060-EVK_APL/.settings/language.settings.xml
IMXRT1060-EVK_APL/.settings/org.eclipse.cdt.codan.core.prefs
IMXRT1060-EVK_APL/.settings/org.eclipse.cdt.managedbuilder.core.prefs
IMXRT1060-EVK_APL/apl-cppcheck-build-dir
IMXRT1060-EVK_BOOT/IMXRT1060-EVK_BOOT LinkServer Debug (1).launch
/MIMXRT1062xxxxA_Project_test.zip
