[submodule "IMXRT1060-EVK_APL/mimiclib"]
	path = IMXRT1060-EVK_APL/mimiclib
	url = https://github.com/tkashi-github/mimiclib

[submodule "IMXRT1060-EVK_BOOT/mimiclib"]
	path = IMXRT1060-EVK_BOOT/mimiclib
	url = https://github.com/tkashi-github/mimiclib
